<!-- 360_rdoConfiguration -->

{%- for nomItem, item in a360_rdoConfiguration_manager.get_IParametresGenerauxRDO().items() -%}
{% include 'templ_3605_rdoConfiguration.IParametresGenerauxRDO.xml' %}
{% endfor %}

